/* dashboard.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/free-photo/herd-cows-grazing-pasture-during-daytime_181624-24132.jpg?size=626&ext=jpg&ga=GA1.1.787241541.1717569900&semt=ais_hybrid);
    background-size: 100%;
    background-repeat: no-repeat; 
}

.sidebar {
    background-color: #2c3e50;
    color: white;
    width: 220px;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #34495e;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.logout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.logout-btn:hover {
    background-color: #c0392b;
}

.overview {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-top: 0;
    font-size: 18px;
    color: #34495e;
}

.card p {
    font-size: 24px;
    color: #2980b9;
}

.charts {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.chart {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 48%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.chart:hover {
    transform: translateY(-5px);
}

.chart h3 {
    margin-top: 0;
    font-size: 18px;
    color: #34495e;
}
