<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/crop-management.css">
    <link rel="stylesheet" href="css/Crops.css"> -->
    <link rel="stylesheet" href="css/dashboard.css">
    <!-- <link rel="stylesheet" href="css/farm-overview.css">
    <link rel="stylesheet" href="css/fields.css">
    <link rel="stylesheet" href="css/inventory.css">
    <link rel="stylesheet" href="css/livestock-management.css"> -->
    <!-- <link rel="stylesheet" href="css/login.css"> -->
    <!-- <link rel="stylesheet" href="css/Reports.css"> -->
    <!-- <link rel="stylesheet" href="css/settings.css"> -->
    <!-- <link rel="stylesheet" href="css/users.css"> -->
</head>
<body>
    <%- body %>
    <script src="js/"></script>
</body>
</html>